 <?xml version='1.0' encoding='utf-8'?><widget id="com.app.xyz" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"> 
<name>aappp</name> 
<description></description> 
<author email="dev@cordova.apache.org" href="http://cordova.io">umardraz651@gmail.com</author> 
<content src="index.html" /> access origin="*" /> 
 <allow-intent href="http://*/*" /> 
 <allow - intent href = "https://*/*" /> 
 <allow - intent href = "tel:*" /> 
 <allow - intent href = "sms:*" /> 
 <allow - intent href = "mailto:*" /> 
 <allow - intent href = "geo:*" /><platform name = "android"> 
<allow-intent href="market:*"/> 
 </platform ><platform name ="ios" ><allow-intent href="itms:*"/> 
<allow-intent href="itms-apps:*"/> 
 </platform><icon src="http://localhost:14498/Content/AppImages/appIcon/636665756962733586_1.jpg"/> 
<splash height="480" src="http://localhost:14498/Content/AppImages/AppSplashScreen/636665756962853271_1.png" width="320" /> 
 <logo src ="http://localhost:14498/Content/AppImages/AppLogo/636665756962883265_1.jpg"/> 
<engine name="android" spec="7.0.0" /> 
 <plugin name="cordova - plugin - whitelist" spec="file: plugins / cordova - plugin - whitelist"/> 
<plugin name="cordova-plugin-app-version" spec=" ^ 0.1.9" /> 
<plugin name="cordova-plugin-x-socialsharing" spec="git+https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git"/> 
</widget> 
